 // Standard Colors:

// $primary_1       : #2277dd;
// $primary_2       : #3d6ca6;
// $primary_3       : #0b4790; 
$primary_4       : #579cee; 
$primary_5       : #7fb2ee;

$secondary_a_1   : #412de1;
$secondary_a_2   : #4e44a9;
$secondary_a_3   : #1d0f92;
$secondary_a_4   : #7060f0;
$secondary_a_5   : #9287f0;

$secondary_b_1   : #ffcc14;
$secondary_b_2   : #bfa23b;
$secondary_b_3   : #a68307;
$secondary_b_4   : #ffd84f;
$secondary_b_5   : #ffe37e;

$complementary_1 : #ffa414;
$complementary_2 : #bf8c3b;
$complementary_3 : #a66807;
$complementary_4 : #ffbb4f;
$complementary_5 : #ffcd7e;



$white           : #ffffff;
$gray_light      : #eeeeee;
$gray            : #b7b7b7;
$gray_dark       : #333333;
$black           : #000000;

$primary_1       : $gray_dark;
// $primary_4       : $gray_light;
// $primary_5       : $gray_light;