
%section
  %p.intro
    I'm a software developer passionate about the web, small businesses, numerical analysis, and Lindy Hop.
    %br
    %br
    I'm going to kick things off with a little education.
    There have been varying reports in the media about what's going on with the nuclear reactors in Japan, specifically the Dai-ichi reactors.
    I'm going to attempt to take you through, slowly, the workings of a nuclear reactor and what's wrong with the ones in Japan.
    This will be a four article series.  The first is up now so you can get a little 
    = link_to( "background information.", "/#" + Post.first.html_id )

- @posts.each do |post|
  %section{ :id => post.html_id }
    %h2
      != post.title
    != post.html_content
    - if current_user.andand.admin?
      %p= link_to "edit ->", edit_post_path( post )